@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
    --novel-stone-50: #fafaf9;
    --novel-stone-100: #f5f5f4;
    --novel-stone-200: #e7e5e4;
    --novel-stone-300: #d6d3d1;
    --novel-stone-400: #a8a29e;
    --novel-stone-500: #78716c;
    --novel-stone-600: #57534e;
    --novel-stone-700: #44403c;
    --novel-stone-800: #292524;
    --novel-stone-900: #1c1917;
    --novel-highlight-default: #ffffff;
    --novel-highlight-purple: #f6f3f8;
    --novel-highlight-red: #fdebeb;
    --novel-highlight-yellow: #fbf4a2;
    --novel-highlight-blue: #c1ecf9;
    --novel-highlight-green: #acf79f;
    --novel-highlight-orange: #faebdd;
    --novel-highlight-pink: #faf1f5;
    --novel-highlight-gray: #f1f1ef;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 18, 18, 18;
        --novel-stone-50: #1c1917;
        --novel-stone-100: #292524;
        --novel-stone-200: #44403c;
        --novel-stone-300: #57534e;
        --novel-stone-400: #78716c;
        --novel-stone-500: #a8a29e;
        --novel-stone-600: #d6d3d1;
        --novel-stone-700: #e7e5e4;
        --novel-stone-800: #f5f5f4;
        --novel-stone-900: #fafaf9;
        --novel-highlight-default: #000000;
        --novel-highlight-purple: #3f2c4b;
        --novel-highlight-red: #5c1a1a;
        --novel-highlight-yellow: #5c4b1a;
        --novel-highlight-blue: #1a3d5c;
        --novel-highlight-green: #1a5c20;
        --novel-highlight-orange: #5c3a1a;
        --novel-highlight-pink: #5c1a3a;
        --novel-highlight-gray: #3a3a3a;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: #1a1b23;
}



@layer base {
    :root {
        --background: #ffffff;
        --background-secondary: #f5f5f7;
        --background-hover: #ebebed;
        --background-hover-dark: #dedee0;
        --primary: #6775bc;
        --primary-hover: #7983c4;
        --primary-foreground: #ffffff;
        --muted: #95959c;
        --muted-foreground: #6c6c74;
        --border: #e5e5e7;
        --border-hover: #d1d1d3;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --novel-highlight-default: #ffffff;
        --novel-highlight-purple: #f6f3f8;
        --novel-highlight-red: #fdebeb;
        --novel-highlight-yellow: #fbf4a2;
        --novel-highlight-blue: #c1ecf9;
        --novel-highlight-green: #acf79f;
        --novel-highlight-orange: #faebdd;
        --novel-highlight-pink: #faf1f5;
        --novel-highlight-gray: #f1f1ef;
    }

    .dark {
        --background: #1a1b23;
        --background-secondary: #232430;
        --background-hover: #383844;
        --background-hover-dark: #4e4e59;
        --primary: #6775bc;
        --primary-hover: #7983c4;
        --primary-foreground: #ffffff;
        --muted: #95959c;
        --muted-foreground: #a5a5ac;
        --border: #383844;
        --border-hover: #4e4e59;
        --card: 232 15% 24%;
        --card-foreground: 0 0% 98%;
        --popover: 232 15% 24%;
        --popover-foreground: 0 0% 98%;
        --secondary: 231 33% 67%;
        --secondary-foreground: 0 0% 98%;
        --accent: 232 15% 24%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --input: 232 15% 24%;
        --ring: 231 36% 57%;
        --chart-1: 231 36% 57%;
        --chart-2: 231 33% 63%;
        --chart-3: 231 31% 69%;
        --chart-4: 231 29% 75%;
        --chart-5: 231 27% 81%;
        --novel-highlight-default: #121212;
        --novel-highlight-purple: #232430;
        --novel-highlight-red: #383844;
        --novel-highlight-yellow: #4e4e59;
        --novel-highlight-blue: #65656e;
        --novel-highlight-green: #7c7d85;
        --novel-highlight-orange: #95959c;
        --novel-highlight-pink: #3f3f3f;
        --novel-highlight-gray: #575757;
    }
}